[Desktop Entry]
Type=Application
Name=Hearthstone Deck Tracker
GenericName=Deck Tracker
Comment=Hearthstone Deck Tracker (umu-launcher + GE-Proton, Battle.net prefix)
Exec=launch-hdt
Icon=hearthstone
Terminal=false
Categories=Game;
StartupNotify=true
StartupWMClass=Hearthstone Deck Tracker.exe
